.options-section {
	.contact-card {
		border: 1px solid $theme-divider;
		& > img {
			max-width: 150px;
		}
	}
}

.contact-form {
	.error {
		font-size: 0.875rem;
		padding-top: 1rem;
	}
	
	textarea.form-control {
		height: auto;
	}
}